<%- include('shells/master-header') -%>
<div class="client-options-page">
  <h1>Client Options</h1>
  <div class="option-group">
    <div class="well">
        <strong>Special Keys:</strong>
        <ul>
            <li>
                end: enable/disable scroll
            </li>
            <li>
                home: return focus to the input area
            </li>
            <li>
                insert: open a window to send a command to the MOO without touching current text in the input area
            </li>
        </ul>
			<div class="option-row" id="localecho-option">
				<span class="option-label">Enable Local Echo</span>
				<div class="option-choices pull-right">
					<button class="btn enabled-state" data-val="true">Yes</button>
					<button class="btn disabled-state" data-val="false">No</button>
				</div>
			</div>
			<div class="option-row" id="commands-option">
				<span class="option-label">Use Command Hints</span>
				<div class="option-choices pull-right">
				  <button class="btn enabled-state" data-val="true">Yes</button>
				  <button class="btn disabled-state" data-val="false">No</button>
				</div>
			</div>
			<div class="option-row" id="buffer-option">
				<span class="option-label" title="Set to 0 for unlimited scroll -- performance may suffer, otherwise, something between 1000 and 96000">Scroll Buffer Size</span>
				<div class="option-choices pull-right">
					<input name="buffer-size" placeholder="0" type="number" min="0" max="96000" value="0" />
				</div>
			</div>
			<div class="option-row" id="transparent-option">
				<span class="option-label">Transparent Overlays</span>
				<div class="option-choices pull-right">
					<button class="btn enabled-state" data-val="true" title="Make dialogs for autocomplete, help, etc transparent enough to see MOO text underneath.">Yes</button>
					<button class="btn disabled-state" data-val="false" title="Make dialogs for autocomplete, help, etc opaque. This can be helpful for performance.">No</button>
				</div>
			</div>
		<div class="option-row" id="broadly-option">
			<span class="option-label">Search Command Help</span>
			<div class="option-choices pull-right">
				<button class="btn enabled-state" data-val="true" title="Search command instructions and requirements when Command Hints are enabled.">Yes</button>
				<button class="btn disabled-state" data-val="false" title="Just search command syntax when Command Hints are enabled. This can be helpful for performance.">No</button>
			</div>
		</div>
      <div class="option-row" id="imageview-option">
        <span class="option-label">Show Preview of Images</span>
        <div class="option-choices pull-right">
          <button class="btn enabled-state" data-val="true">Yes</button>
          <button class="btn disabled-state" data-val="false">No</button>
        </div>
      </div>
      <div class="option-row" id="playding-option">
				<span class="option-label">Play Sound on Name</span>
				<div class="option-choices pull-right">
					<button class="btn enabled-state" title="When the window is out of focus, play a notification sound when your login name is seen in the scrollback." data-val="true">Yes</button>
					<button class="btn disabled-state" data-val="false">No</button>
				</div>
			</div>
			<div class="option-row" id="scroll-option">
				<span class="option-label pull-left">Toggle Auto Scroll With</span>
                <select name="auto-scroll-toggle">
                    <option value="dbl" selected="selected">Double Click</option>
                    <option value="long">Long Click</option>
                    <option value="none">Pause Button Only</option>
                </select>
			</div>
			<div class="option-row" id="outfont-option">
				<span class="option-label">Output Font</span>
				<select name="editor-theme-choice">
					<option value="standard" style="font-family: 'Source Code Pro'" selected="selected">Source Code Pro</option>
					<option value="lucida" style="font-family: 'Lucida Console'">Lucida Console</option>
					<option value="courier" style="font-family: 'Courier New'">Courier New</option>
					<option value="roboto" style="font-family: 'Roboto Mono'">Roboto Mono</option>
				</select>
			</div>
      <div class="option-row" id="colorset-option">
        <span class="option-label">Output Colors</span>
        <select name="colorset-choice">
          <option value="normal" selected="selected">Normal Colors</option>
          <option value="dim">Not So Bright</option>
          <option value="slither">Switch Bright White/Green</option>
          <option value="acid">Dystopia is Pretty</option>
		  <option value="corpie">Privileged Class</option>
		  <option value="snow">Office Documents</option>
        </select>
      </div>
			<div class="option-row" id="edittheme-option">
				<span class="option-label">Editor Theme (admin only)</span>
				<select name="editor-theme-choice">
					<option value="ambiance">ambiance</option>
					<option value="chaos">chaos</option>
					<option value="chrome">chrome</option>
					<option value="clouds">clouds</option>
					<option value="clouds_midnight">clouds_midnight</option>
					<option value="cobalt">cobalt</option>
					<option value="crimson_editor">crimson_editor</option>
					<option value="dawn">dawn</option>
					<option value="dreamweaver">dreamweaver</option>
					<option value="eclipse">eclipse</option>
					<option value="github">github</option>
					<option value="idle_fingers">idle_fingers</option>
					<option value="kr_theme">kr_theme</option>
					<option value="merbivore">merbivore</option>
					<option value="merbivore_soft">merbivore_soft</option>
					<option value="mono_industrial">mono_industrial</option>
					<option value="monokai">monokai</option>
					<option value="pastel_on_dark">pastel_on_dark</option>
					<option value="solarized_dark">solarized_dark</option>
					<option value="solarized_light">solarized_light</option>
					<option value="terminal">terminal</option>
					<option value="textmate">textmate</option>
					<option value="tomorrow">tomorrow</option>
					<option value="tomorrow_night">tomorrow_night</option>
					<option value="tomorrow_night_blue">tomorrow_night_blue</option>
					<option value="tomorrow_night_bright">tomorrow_night_bright</option>
					<option value="tomorrow_night_eighties">tomorrow_night_eighties</option>
					<option value="twilight" selected="selected">twilight</option>
					<option value="vibrant_ink">vibrant_ink</option>
					<option value="xcode">xcode</option>
				</select>
			</div>
    </div>
  </div>
  <div class="option-group centered back-nav">
    <a class="btn btn-xlarge btn-primary" href="/">&larr; Back to Connect</a>
  </div>
</div>
<script src="/js/client-options.js"></script>
<%- include('shells/master-footer') -%>
