<%
var useMinified = (!debugMode);
%>
<% req.bodyClass = 'client'; %>
<%- include('shells/master-header'); -%>
<div id="browser-client">
  <div id="lineBuffer" class="standardText" aria-live="polite"></div>
  <textarea data-lpignore="true" id="inputBuffer" rows="4" cols="50"></textarea>
</div>
<div id="disconnect-overlay" class="hide"></div>
<div id="scroll-overlay" class="hide"></div>
<div class="container disconnect-buttons hide">
  <button id="button-save" class="btn btn-lg btn-primary">Save Session as HTML Log</button>
  <button id="button-reconnect" class="btn btn-lg btn-primary">Reconnect Now</button>
  <button id="button-closeall" class="btn btn-sm btn-primary">Close All Windows</button>
  <form id="save-form" action="/save/" method="POST" target="download-frame">
    <input type="hidden" name="buffer" value="">
  </form>
</div>
<iframe style="display: none" name="download-frame" id="download-frame"></iframe>
<div class="mini-controls">
  <% if (showReporter(req)) { %>
	<div class="btn-group">
    <a class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-question-sign icon-white" aria-hidden="true"></i><span class="hidden-xs">HELP</span><span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li><a href="/client-options/">MORE OPTIONS (logs you out)</a></li>
      <li><a target="_blank" href="https://www.sindome.org/help/" title="read our help documents">HELP TOPICS</a></li>
      <li><a target="_blank" href="https://www.sindome.org/search/" title="search our entire website, bug database and help system">SEARCH</a></li>
    </ul>
	</div>
  <button id="button-clear-buffer" class="btn btn-primary btn-xs pull-right" href="clearbuffer" title="clear the output buffer.">
    <i class="icon-remove icon-white" aria-hidden="true"></i><span class="hidden-xs">CLEAR BUFFER</span>
  </button>
  <button id="button-auto-scroll" class="btn btn-primary btn-xs pull-right" href="#autoscroll" title="pause/unpause automatic scrolling">
    <i class="icon-pause icon-white" aria-hidden="true"></i><span class="hidden-xs">PAUSE SCROLL</span>
  </button>
  <button id="button-save-mini" class="btn btn-primary btn-xs pull-right" href="#savelog" title="save session as an HTML log file">
    <i class="icon-download-alt icon-white" aria-hidden="true"></i><span class="hidden-xs">LOG</span>
  </button>
  <button id="button-local-echo" class="btn btn-primary btn-xs pull-right" href="#echo" title="toggle local echo of input commands">
    <i class="icon-volume-up icon-white" aria-hidden="true"></i><span class="hidden-xs">ECHO</span>
  </button>
  <button id="button-view-images" class="btn btn-primary btn-xs pull-right" href="#images" title="toggle inline preview of image URLs">
    <i class="icon-eye-open icon-white" aria-hidden="true"></i><span class="hidden-xs">IMAGES</span>
  </button>
	<% } %>

</div>
<script src="<%=decache('/js/client-options.js')%>"></script>
<script language="JavaScript">
	clientOptions['deviceType'] = '<%=req.device%>';
</script>
<script src="<%=decache('/js/player-client' + (useMinified ? '.min' : '') + '.js')%>"></script>
<% include('./shells/master-footer'); -%>
