<%- include('/shells/master-header') -%>
<div class="moo-login-page">
  <h1>Permission Denied</h1>

  <p>You don't have permission to access that. If you did, you probably need to <a href="/">login again</a>.</p>

  <div class="version"><span>Dome Client v<%=version%></span>, <span>&copy; The Sindome Corporation 1997-2023</span></div>
</div>

<%- include('/shells/master-footer') -%>
