<!-- for some reason, insert the doctype mucks up the editor <!DOCTYPE html> -->
<html lang="en">
  <head>
    <title><%=meta.title%></title>
    <meta name="description" content="<%= meta.description %>">
	  <meta name="keywords" content="<%= meta.keywords %>">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Code+Pro|Quantico:400,400italic,700|Roboto+Mono">
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="//ajax.cdnjs.com/ajax/libs/underscore.js/1.3.3/underscore-min.js"></script>
    <script src="/js/replacements.js?escfix020917"></script>
    <link href="//ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="/css/dome.css">
    <link rel="stylesheet" type="text/css" href="<%=decache('/css/client.css')%>">
  </head>
  <body class="child-window">
